<template>
    <div class="login-form">
        <form>
            <h2 class="text-center">말뭉치 데이터 검증기 로그인</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="사용자 아이디" required="required" v-model.string="userId" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="사용자 비밀번호" required="required" v-model.string="userPw" />
            </div>
            <div class="form-group">
                <button type="button" @click="loginAction" class="btn btn-primary btn-block">로그인</button>
            </div>
        </form>

        <b-modal id="loginMessage" title="로그인 정보를 확인해 주세요.">
            <div>
                <b-alert variant="warning" show>사용자 아이디와 비밀번호를 확인해 주세요.</b-alert>
            </div>
            <div slot="modal-footer" class="w-100">
                <p class="float-left"></p>
            </div>
        </b-modal>
    </div>
</template>


<script lang="ts">
    import {Vue, Component}    from 'vue-property-decorator';
    @Component
    export default class Login extends Vue {

        private userId:string = '';
        private userPw:string = '';
        private loginAction() {
            if(this.userId.trim().toLowerCase() === 'corpus' && this.userPw.trim().toLowerCase() === 'nikl#2669') {
                localStorage.setItem('corpus-validator', 'Y');
                this.$router.push({name:'Main'});
            }else {
                this.$bvModal.show("loginMessage");
            }
        }
    }
</script>


<style type="text/css">
    .login-form {
        width: 540px;
        margin: 150px auto;
    }
    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>
