<template>
    <div>
        <b-navbar type="dark" variant="dark">
            <b-navbar-nav>
                <b-nav-item href="#">말뭉치 데이터 검증기</b-nav-item>
            </b-navbar-nav>
        </b-navbar>
        <b-tabs justified pills card>
            <b-tab title="에디터" active>
                <b-alert variant="success" show>
                    <b-container fluid>
                        <b-row>
<!--                            <b-col cols="1">-->
<!--                                <b-form-select v-model="selectType1" :options="type1"></b-form-select>-->
<!--                            </b-col>-->
                            <b-col cols="2">
                                <b-form-select v-model="selectType2" :options="type2"></b-form-select>
                            </b-col>
                            <b-col cols="4">
                                <b-form-file :file-name-formatter="openFile" accept=".txt, .json"
                                             ref="file-input"></b-form-file>
                            </b-col>
                            <b-col cols="1">
                                <b-btn v-on:click="convertJson">검증 하기</b-btn>
                            </b-col>
                            <b-col>
                                <b-btn v-bind:variant="altType" class="w-100">{{statusMsg}}</b-btn>
                            </b-col>
                        </b-row>
                    </b-container>
                </b-alert>
                <b-container fluid>
                    <b-row>
                        <b-col style="border-style : solid; border-width : 1px;" class="mr-1">
                            <textarea v-model="jsonStr" :rows="rowHeight" class="line-textarea"></textarea>
                        </b-col>
                        <!--            <b-col style="border-style : solid; border-width : 1px; max-width: 800px;" class="ml-1">-->
                        <!--              <json-tree :data="rootTree" :level="2"></json-tree>-->
                        <!--            </b-col>-->
                    </b-row>
                </b-container>
            </b-tab>
            <b-tab title="JSON 구조 및 형식">
                <table-info></table-info>
            </b-tab>
        </b-tabs>

        <div>
            <b-modal id="jsonErrorModal" title="JSON 변환 중 오류가 발생 하였습니다.">
                <b-alert show variant="danger">{{jsonErrorMessage}}</b-alert>
                <div slot="modal-footer" class="w-100">
                    <p class="float-left"></p>
                </div>
            </b-modal>
        </div>

        <div>
            <b-modal id="attributeErrorModal" size="xl" title="유효하기 않은 속성이 존재 합니다.">
                <div>
                    <table class="table table-dark table-hover small">
                        <thead>
                        <tr>
                            <th style="width:3%" class="text-center" scope="col">#</th>
                            <th style="width:15%" scope="col">구분</th>
                            <th style="width:37%" scope="col">오류 위치</th>
                            <th style="width:22%" class="text-left" scope="col">오류 메시지</th>
                            <th class="text-left" scope="col">오류 위치</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(attr, index) in attributeErrorViewItem" v-bind:key="index">
                            <th class="text-center" scope="row">{{index+1}}</th>
                            <td>{{attr.value.targetName}}</td>
                            <td>{{attr.value.node}} {{attr.value.property}}</td>
                            <td>{{attr.message}}</td>
                            <td>
                                <textarea style="width:98%;" rows="5" readonly="readonly" v-model="attr.pos"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div slot="modal-footer" class="w-100">
                    <p class="float-left"></p>
                </div>
            </b-modal>
        </div>

        <div v-show="spinner" class="mask">
            <hexagon :size="150" class="spinner"></hexagon>
        </div>

        <b-modal id="loginMessage" title="로그인 정보를 확인해 주세요.">
            <div>
                <b-alert variant="warning" show>로그인 정보가 없어 로그인 페이지로 이동합니다.</b-alert>
            </div>
            <div slot="modal-footer" class="w-100">
                <p class="float-left"></p>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts">

    import {Vue, Component, Watch} from "vue-property-decorator";
    import {getModule} from "vuex-module-decorators";
    import {Store} from "@/store";
    import {validate} from "class-validator";
    import {plainToClass} from "class-transformer";
    import jp from "jsonpath";
    import Hexagon from "vue-loading-spinner/src/components/Hexagon.vue";

    import TableInfo from "./TableInfo.vue";
    import JsonTree from "./JsonTree.vue";

    import {DefaultValidForm} from "../model/DefaultValidForm";
    import {SpeakerValidForm} from "../model/SpeakerValidForm";
    import {CRValidForm} from "../model/CRValidForm";
    import {ZAValidForm} from "../model/ZAValidForm";
    import {MPValidForm} from "../model/MPValidForm";
    import {DPValidForm} from "../model/DPValidForm";
    import {LSValidForm} from "../model/LSValidForm";
    import {NEValidForm} from "../model/NEValidForm";
    import {SRValidForm} from "../model/SRValidForm";

    @Component({
        components: {
            TableInfo,
            JsonTree,
            Hexagon
        }
    })
    export default class Main extends Vue {

        created() {
            window.addEventListener("resize", this.handleResize);
            this.handleResize();
        }

        mounted() {
            if(localStorage.getItem('corpus-validator') === null){
                this.$bvModal.show("loginMessage");
                setTimeout(()=>this.$router.push({name:'Login'}), 3000);
            }
        }

        private store = getModule(Store);
        private jsonStr = "";

        private spinner: boolean = false;
        private rowHeight: number = 0;
        private altType: string = "primary";
        private statusMsg: string = " 분석 층위, 파일을 선택한 후 검증 하기를 눌러주세요.";
        private jsonErrorMessage: string = "";
        private jsonObj = null;
        private attributeError: any = [];
        private attributeErrorViewItem: any = [];
        // private selectType1: string = "W";
        private selectType2: string = "MP";
        // private type1: object = [{value: "W", text: "문어"}, {value: "S", text: "구어"}];
        private type2: object = [
            {value: "MP", text: "형태 분석(morpheme)"},
            {value: "DP", text: "구문 분석(DP)"},
            {value: "LS", text: "어휘의미 분석(WSD)"},
            {value: "NE", text: "개체명 분석(NE)"},
            {value: "SR", text: "의미역 분석(SRL)"},
            {value: "CR", text: "상호참조 해결(CR)"},
            {value: "ZA", text: "무형 대용어 복원(ZA)"},
        ];

        public handleResize() {
            this.rowHeight = (window.innerHeight - 300) / 25;
        }

        private openFile(files: any): string {

            this.spinner = true;
            let reader = new FileReader();
            reader.onload = (e: any) => {
                this.store.setJsonStr(e.target.result);
                this.jsonStr = e.target.result;
                this.spinner = false;
            };
            reader.readAsText(files[0]);
            return files[0].name;
        }

        private convertJson() {
            this.spinner = true;
            setTimeout(() => {
                try {
                    this.jsonObj = JSON.parse(this.jsonStr);
                    this.validatorJson();
                } catch (error) {
                    this.jsonErrorMessage = error.name + ":" + error.message;
                    this.$bvModal.show("jsonErrorModal");
                    this.altType = "danger";
                    this.statusMsg = error.name + ":" + error.message;
                    this.spinner = false;
                }
            }, 500);
        }

        private validatorJson() {
            this.attributeError = [];
            this.attributeErrorViewItem = [];

            // 기본 데이터 바인딩
            // this.rootTree = plainToClass(DataForm.Form, this.jsonObj, { excludeExtraneousValues: true });
            let defaultValidForm = plainToClass(DefaultValidForm.Form, this.jsonObj, {excludeExtraneousValues: true});

            try {

                // 공통 영역
                this.validInfo(defaultValidForm);

                // 구어 영역
                // this.selectType1 === "S" ? this.validInfo(plainToClass(SpeakerValidForm.SpeakerValidForm, this.jsonObj, {excludeExtraneousValues: true})) : null;

                console.log(this.selectType2);
                switch (this.selectType2) {
                    case "CR" :
                        this.validInfo(plainToClass(CRValidForm.Form, this.jsonObj, {excludeExtraneousValues: true})); // 상호참조 해결
                        break;
                    case "ZA" :
                        this.validInfo(plainToClass(ZAValidForm.Form, this.jsonObj, {excludeExtraneousValues: true})); // 무형 대용어 복원
                        break;
                    case "MP" :
                        this.validInfo(plainToClass(MPValidForm.Form, this.jsonObj, {excludeExtraneousValues: true})); // 형태 분석
                        break;
                    case "DP" :
                        this.validInfo(plainToClass(DPValidForm.Form, this.jsonObj, {excludeExtraneousValues: true})); // 구문분석
                        break;
                    case "LS" :
                        this.validInfo(plainToClass(LSValidForm.Form, this.jsonObj, {excludeExtraneousValues: true})); // 어휘의미
                        break;
                    case "NE" :
                        this.validInfo(plainToClass(NEValidForm.Form, this.jsonObj, {excludeExtraneousValues: true})); // 개체명
                        break;
                    case "SR" :
                        this.validInfo(plainToClass(SRValidForm.Form, this.jsonObj, {excludeExtraneousValues: true})); // 의미역
                        break;
                }
            } catch (error) {
                console.warn(error);

                this.spinner = false;
            }

        }

        private validInfo(item: object) {
            validate(item, {validationError: {target: false}}).then((errors: any) => {
                if (errors.length > 0) {
                    this.attributeError.push(...jp.query(errors, "$..constraints"));
                } else {
                    console.log("validation succeed");
                }
            });
        }

        @Watch("attributeError")
        onChangeAttributeError() {
            if (this.attributeError.length > 0) {

                this.attributeError.forEach((err: any) => {
                    let key: string = "";
                    let value: any = "";
                    for ([key, value] of Object.entries(err)) {
                        let msg: string = "";
                        switch (key) {
                            case "isString":
                                msg = "자료형이 문자 형태여야 합니다.";
                                break;
                            case "isInt":
                                msg = "자료형이 정수 형태여야 합니다.";
                                break;
                            case "isNotEmpty":
                                msg = "필수 정보 입니다.";
                                break;
                            case "isArray":
                                msg = "자료형이 배열 형태여야 합니다.";
                                break;
                            case "arrayNotEmpty":
                                msg = "배열에 데이터가 누락 되었습니다.";
                                break;
                            default:
                                msg = value;
                                break;
                        }

                        let errorObj = JSON.parse(value);

                        let addYn = true;
                        let el: any;
                        for (el of this.attributeErrorViewItem) {
                            if (el.value.node === errorObj.node
                                && el.value.property === errorObj.property
                                && el.value.targetName === errorObj.targetName
                            ) {
                                addYn = false;
                            }
                        }

                        if (addYn) {
                            this.attributeErrorViewItem.push({
                                type: key,
                                message: msg,
                                value: errorObj,
                                pos: JSON.stringify(errorObj.object, null, 4)
                            });
                        }
                    }
                });

                this.$bvModal.show("attributeErrorModal");
                this.altType = "warning";
                this.statusMsg = "오류를 확인해 주세요.";

                this.spinner = false;
            } else {
                this.altType = "success";
                this.statusMsg = "검증을 완료 하였습니다.";

                this.spinner = false;
            }
        }

        @Watch("jsonStr")
        onChageJsonStr() {
            this.altType = "info";
            this.statusMsg = "분석 층위, 파일을 선택한 후 검증 하기를 눌러주세요.";
        }
    }
</script>

<style>
    .line-textarea {
        background: url(./../../public/2cOaJ.png);
        background-attachment: local;
        background-repeat: no-repeat;
        padding-left: 35px;
        padding-top: 10px;
        border-color: #ccc;
        width: 100%;
        height: 100%;
    }

    .spinner {
        position: absolute;
        left: 45%;
        top: 40%;
        z-index: 10000;
    }

    .mask {
        opacity: 0.7;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 9000;
        background-color: #000000;
        left: 0;
        top: 0;
    }
</style>
