<template>
    <div>
        Not Found Page!!!
    </div>
</template>


<script lang="ts">
    import {Vue, Component}    from 'vue-property-decorator';
    @Component
    export default class NotFound extends Vue {

    }
</script>
