<template>
    <div>
        <div class="w-100 text-right mb-1">
            <b-button @click="sampleFileDown" variant="info">샘플 파일 다운로드</b-button>
        </div>

        <b-container fluid>
            <b-row class="text-center mt-2 mb-1" style="color:#f7f8f9;font-weight: bold;">
                <b-col style="background-color: #007bff">전체</b-col>
                <b-col style="background-color: #6610f2">형태 분석(morpheme)</b-col>
                <b-col style="background-color: #dc3545">구문 분석(DP)</b-col>
                <b-col style="background-color: #6f42c1">어휘의미 분석(WSD)</b-col>
                <b-col style="background-color: #e83e8c">개체명 분석(NE)</b-col>
                <b-col style="background-color: #fd7e14">의미역 분석(SRL)</b-col>
                <b-col style="background-color: #ffc107">상호참조 해결(CR)</b-col>
                <b-col style="background-color: #28a745">무형 대용어 복원(ZA)</b-col>
            </b-row>
        </b-container>
        <table class="table table-dark small" style="font-weight: bold;">
            <thead>
            <tr>
                <th width="100">1 수준</th>
                <th width="100">2 수준</th>
                <th width="100">3 수준</th>
                <th width="100">4 수준</th>
                <th width="100">5 수준</th>
                <th width="100">타입</th>
                <th width="200">필수 말뭉치 유형</th>
                <th width="130">필수 분석 층위</th>
                <th>설명</th>
            </tr>
            </thead>
            <tbody>
            <tr bgcolor="#007bff">
                <td>id</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 원시 말뭉치 파일 ID 혹은 작업세트 파일 ID * 고유 ID로 중복이 없어야 함</td>
            </tr>
            <tr bgcolor="#007bff">
                <td>metadata</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>obj</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 파일의 메타 정보</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td>title</td>
                <td></td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 파일 제목</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td>author</td>
                <td></td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 작성자, 게시자</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td>publisher</td>
                <td></td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 출판사, 신문사</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td>year</td>
                <td></td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 출판년도</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td>note</td>
                <td></td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>-</td>
                <td>-</td>
                <td>* 부가 설명. 샘플링 방식 등 기타 정보</td>
            </tr>
            <tr bgcolor="#007bff">
                <td>document</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>arr (obj)</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 문서 정보</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td>id</td>
                <td></td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 문서 ID * ‘원시말뭉치파일 ID.파일 내 문서 순서’로 구성</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td>metadata</td>
                <td></td>
                <td></td>
                <td></td>
                <td>obj</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 문서의 메타 정보</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td>title</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 문서 제목</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td>author</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 작성자, 게시자</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td>publisher</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 출판사, 신문사</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td>url</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>-</td>
                <td>-</td>
                <td>* URL 주소 (웹 말뭉치)</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td>date</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 작성일시, 게시일시, 크롤링 일시</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td>category</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 분류. 분류 단계는 ‘>’로 구분. 예) “신문 > 전국 종합지“</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td>annotation_level</td>
                <td></td>
                <td></td>
                <td>arr (str)</td>
                <td>전체</td>
                <td>전체</td>
                <td>* 분석 층위 (복수 나열) * 원시, 형태 분석, 개체명 분석, 어휘의미 분석, 상호참조 해결, 무형 대용어 복원, 구문 분석, 의미역 분석</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td>note</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>-</td>
                <td>-</td>
                <td>* 부가 설명. 구어 사용 맥락 정보, 샘플링 방식 등 기타 정보</td>
            </tr>
            <tr>
                <td></td>
                <td>paragraph</td>
                <td></td>
                <td></td>
                <td></td>
                <td>arr (obj)</td>
                <td>신문, 문어, 구어>준구어</td>
                <td>원시</td>
                <td>* 문단</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>id</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>신문, 문어, 구어>준구어</td>
                <td>원시</td>
                <td>* 문단 ID. * ‘문서 ID.문서 내 문단 순서’로 구성. 문서 내 문단 순서는 1부터 시작</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>form</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>신문, 문어, 구어>준구어</td>
                <td>원시</td>
                <td>* 문단 정보</td>
            </tr>
            <tr>
                <td></td>
                <td>speaker</td>
                <td></td>
                <td></td>
                <td></td>
                <td>arr (obj)</td>
                <td>구어 (준구어-연설 제외) , 메신저</td>
                <td>원시</td>
                <td>* 발화자 정보.</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>id</td>
                <td></td>
                <td></td>
                <td>num</td>
                <td>구어 (준구어-연설 제외) , 메신저</td>
                <td>원시</td>
                <td>* 발화자 ID</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>age</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>구어 (준구어-연설 제외) , 메신저</td>
                <td>원시</td>
                <td>* 나이. 모를 경우 “?”</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>home</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>구어 (준구어-연설 제외) , 메신저</td>
                <td>원시</td>
                <td>* 출신지(주 성장지)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>job</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>구어 (준구어-연설 제외) , 메신저</td>
                <td>원시</td>
                <td>* 직업</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>sex</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>구어 (준구어-연설 제외) , 메신저</td>
                <td>원시</td>
                <td>* 성별. (남성, 여성)</td>
            </tr>
            <tr>
                <td></td>
                <td>utterance</td>
                <td></td>
                <td></td>
                <td></td>
                <td>arr (obj)</td>
                <td>구어 (준구어-연설 제외) , 메신저</td>
                <td>원시</td>
                <td>* 구어 발화 정보</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>id</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>구어 (준구어-연설 제외) , 메신저</td>
                <td>원시</td>
                <td>* 발화 ID. 문서 내 1부터 시작</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>form</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>구어 (준구어-연설 제외) , 메신저</td>
                <td>원시</td>
                <td>* 전사 내용.</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>speaker_id</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>구어 (준구어-연설 제외) , 메신저</td>
                <td>원시</td>
                <td>* 발화자 ID</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>note</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>구어 (준구어-연설 제외) , 메신저</td>
                <td>원시</td>
                <td>* 전사자 노트</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td>sentence</td>
                <td></td>
                <td></td>
                <td></td>
                <td>arr (obj)</td>
                <td>전체</td>
                <td>전체 (단, 원시 제외)</td>
                <td>* 문장</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td>id</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>전체 (단, 원시 제외)</td>
                <td>* 문장 ID. * ‘문서 ID.문서 내 문장 순서’로 구성. 문서 내 문장 순서는 1부터 시작</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td>form</td>
                <td></td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>전체 (단, 원시 제외)</td>
                <td>* 문장 정보</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td>word</td>
                <td></td>
                <td></td>
                <td>arr (obj)</td>
                <td>전체</td>
                <td>전체 (단, 원시 제외)</td>
                <td>* 어절 정보</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td></td>
                <td>id</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>전체 (단, 원시 제외)</td>
                <td>* 어절 ID. 문장 내 순서로 1부터 시작</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td></td>
                <td>form</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>전체 (단, 원시 제외)</td>
                <td>* 어절</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td></td>
                <td>begin</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>전체 (단, 원시 제외)</td>
                <td>* 어절의 문장 내 시작 위치 (UTF-8 문자 위치로 0부터 시작)</td>
            </tr>
            <tr bgcolor="#007bff">
                <td></td>
                <td></td>
                <td></td>
                <td>end</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>전체 (단, 원시 제외)</td>
                <td>* 어절의 문장 내 끝 위치 (UTF-8 문자 위치로 0부터 시작)</td>
            </tr>
            <tr bgcolor="#6610f2">
                <td></td>
                <td></td>
                <td>morpheme</td>
                <td></td>
                <td></td>
                <td>arr (obj)</td>
                <td>전체</td>
                <td>형태분석</td>
                <td>* 형태소 분석 정보</td>
            </tr>
            <tr bgcolor="#6610f2">
                <td></td>
                <td></td>
                <td></td>
                <td>id</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>형태분석</td>
                <td>* 형태소 ID 문장 내 1부터 시작</td>
            </tr>
            <tr bgcolor="#6610f2">
                <td></td>
                <td></td>
                <td></td>
                <td>form</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>형태분석</td>
                <td>* 형태소</td>
            </tr>
            <tr bgcolor="#6610f2">
                <td></td>
                <td></td>
                <td></td>
                <td>label</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>형태분석</td>
                <td>* 형태소 품사 태그</td>
            </tr>
            <tr bgcolor="#6610f2">
                <td></td>
                <td></td>
                <td></td>
                <td>word_id</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>형태분석</td>
                <td>* 형태소가 포함된 어절 ID</td>
            </tr>
            <tr bgcolor="#6610f2">
                <td></td>
                <td></td>
                <td></td>
                <td>position</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>형태분석</td>
                <td>* 어절 내 형태소 위치. 예) 1=>첫번째 형태소, 2=>두번째 형태소…</td>
            </tr>
            <tr bgcolor="#6f42c1">
                <td></td>
                <td></td>
                <td>WSD</td>
                <td></td>
                <td></td>
                <td>arr (obj)</td>
                <td>전체</td>
                <td>어휘의미 분석</td>
                <td>* 어휘의미 분석 정보</td>
            </tr>
            <tr bgcolor="#6f42c1">
                <td></td>
                <td></td>
                <td></td>
                <td>word</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>어휘의미 분석</td>
                <td>* 어휘</td>
            </tr>
            <tr bgcolor="#6f42c1">
                <td></td>
                <td></td>
                <td></td>
                <td>sense_id</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>어휘의미 분석</td>
                <td>* 어휘의 우리말샘 의미 번호</td>
            </tr>
            <tr bgcolor="#6f42c1">
                <td></td>
                <td></td>
                <td></td>
                <td>begin</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>어휘의미 분석</td>
                <td>* 어휘의 문장 내 시작 위치 (UTF-8 문자 위치로 0부터 시작)</td>
            </tr>
            <tr bgcolor="#6f42c1">
                <td></td>
                <td></td>
                <td></td>
                <td>end</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>어휘의미 분석</td>
                <td>* 어휘의 문장 내 끝 위치 (UTF-9 문자 위치로 0부터 시작)</td>
            </tr>
            <tr bgcolor="#e83e8c">
                <td></td>
                <td></td>
                <td>NE</td>
                <td></td>
                <td></td>
                <td>arr (obj)</td>
                <td>전체</td>
                <td>개체명 분석</td>
                <td>* 개체명 분석 정보</td>
            </tr>
            <tr bgcolor="#e83e8c">
                <td></td>
                <td></td>
                <td></td>
                <td>id</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>개체명 분석</td>
                <td>* 개체명 ID. 문장 내 순서로 1부터 시작</td>
            </tr>
            <tr bgcolor="#e83e8c">
                <td></td>
                <td></td>
                <td></td>
                <td>form</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>개체명 분석</td>
                <td>* 개체명</td>
            </tr>
            <tr bgcolor="#e83e8c">
                <td></td>
                <td></td>
                <td></td>
                <td>label</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>개체명 분석</td>
                <td>* 개체명 태그</td>
            </tr>
            <tr bgcolor="#e83e8c">
                <td></td>
                <td></td>
                <td></td>
                <td>begin</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>개체명 분석</td>
                <td>* 개체명의 문장 내 시작 위치. (UTF-8 문자 위치로 0부터 시작)</td>
            </tr>
            <tr bgcolor="#e83e8c">
                <td></td>
                <td></td>
                <td></td>
                <td>end</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>개체명 분석</td>
                <td>* 개체명의 문장 내 끝 위치. (UTF-8 문자 위치로 0부터 시작)</td>
            </tr>
            <tr bgcolor="#dc3545">
                <td></td>
                <td></td>
                <td>DP</td>
                <td></td>
                <td></td>
                <td>arr (obj)</td>
                <td>전체</td>
                <td>구문분석</td>
                <td>* 구문 분석 정보</td>
            </tr>
            <tr bgcolor="#dc3545">
                <td></td>
                <td></td>
                <td></td>
                <td>word_id</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>구문분석</td>
                <td>* 어절 ID</td>
            </tr>
            <tr bgcolor="#dc3545">
                <td></td>
                <td></td>
                <td></td>
                <td>word_form</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>구문분석</td>
                <td>* 어절</td>
            </tr>
            <tr bgcolor="#dc3545">
                <td></td>
                <td></td>
                <td></td>
                <td>head</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>구문분석</td>
                <td>* 어절의 지배소 정보(어절 ID). 어절이 최상위 지배소면 -1</td>
            </tr>
            <tr bgcolor="#dc3545">
                <td></td>
                <td></td>
                <td></td>
                <td>label</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>구문분석</td>
                <td>* 구문 태그</td>
            </tr>
            <tr bgcolor="#dc3545">
                <td></td>
                <td></td>
                <td></td>
                <td>dependent</td>
                <td></td>
                <td>arr (num)</td>
                <td>전체</td>
                <td>구문분석</td>
                <td>* 어절의 피지배소 정보 (피지배소들의 어절 ID 숫자 배열)</td>
            </tr>
            <tr bgcolor="#fd7e14">
                <td></td>
                <td></td>
                <td>SRL</td>
                <td></td>
                <td></td>
                <td>arr (obj)</td>
                <td>전체</td>
                <td>의미역 분석</td>
                <td>* 의미역 분석 정보</td>
            </tr>
            <tr bgcolor="#fd7e14">
                <td></td>
                <td></td>
                <td></td>
                <td>predicate</td>
                <td></td>
                <td>obj</td>
                <td>전체</td>
                <td>의미역 분석</td>
                <td>* 서술어 정보</td>
            </tr>
            <tr bgcolor="#fd7e14">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>form</td>
                <td>str</td>
                <td>전체</td>
                <td>의미역 분석</td>
                <td>* 서술어</td>
            </tr>
            <tr bgcolor="#fd7e14">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>begin</td>
                <td>num</td>
                <td>전체</td>
                <td>의미역 분석</td>
                <td>* 서술어의 문장 내 시작 위치. (UTF-8 문자 위치로 0부터 시작)</td>
            </tr>
            <tr bgcolor="#fd7e14">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>end</td>
                <td>num</td>
                <td>전체</td>
                <td>의미역 분석</td>
                <td>* 서술어의 문장 내 끝 위치 (UTF-8 문자 위치로 0부터 시작)</td>
            </tr>
            <tr bgcolor="#fd7e14">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>lemma</td>
                <td>str</td>
                <td>전체</td>
                <td>의미역 분석</td>
                <td>* 서술어의 우리말샘 표제어 (서술어의 기본형)</td>
            </tr>
            <tr bgcolor="#fd7e14">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>sense_id</td>
                <td>num</td>
                <td>전체</td>
                <td>의미역 분석</td>
                <td>* 우리말샘 표제어의 의미 번호</td>
            </tr>
            <tr bgcolor="#fd7e14">
                <td></td>
                <td></td>
                <td></td>
                <td>argument</td>
                <td></td>
                <td>arr (obj)</td>
                <td>전체</td>
                <td>의미역 분석</td>
                <td>* 논항 정보</td>
            </tr>
            <tr bgcolor="#fd7e14">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>form</td>
                <td>str</td>
                <td>전체</td>
                <td>의미역 분석</td>
                <td>* 논항</td>
            </tr>
            <tr bgcolor="#fd7e14">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>label</td>
                <td>str</td>
                <td>전체</td>
                <td>의미역 분석</td>
                <td>* 의미역 태그</td>
            </tr>
            <tr bgcolor="#fd7e14">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>begin</td>
                <td>num</td>
                <td>전체</td>
                <td>의미역 분석</td>
                <td>* 논항의 문장 내 시작 위치. (UTF-8 문자 위치로 0부터 시작)</td>
            </tr>
            <tr bgcolor="#fd7e14">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>end</td>
                <td>num</td>
                <td>전체</td>
                <td>의미역 분석</td>
                <td>* 논항의 문장 내 끝 위치 (UTF-8 문자 위치로 0부터 시작)</td>
            </tr>
            <tr bgcolor="#ffc107">
                <td></td>
                <td>CR</td>
                <td></td>
                <td></td>
                <td></td>
                <td>arr (obj)</td>
                <td>전체</td>
                <td>상호참조 해결</td>
                <td>* 상호참조 해결 분석 정보</td>
            </tr>
            <tr bgcolor="#ffc107">
                <td></td>
                <td></td>
                <td>mention</td>
                <td></td>
                <td></td>
                <td>arr (obj)</td>
                <td>전체</td>
                <td>상호참조 해결</td>
                <td>* 동일 개체의 멘션 그룹핑 정보. * 개체가 다르면 mention 객체를 새로 시작해야 함</td>
            </tr>
            <tr bgcolor="#ffc107">
                <td></td>
                <td></td>
                <td></td>
                <td>form</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>상호참조 해결</td>
                <td>* 멘션. 예) 유시민, 그, 유</td>
            </tr>
            <tr bgcolor="#ffc107">
                <td></td>
                <td></td>
                <td></td>
                <td>NE_id</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>상호참조 해결</td>
                <td>* 멘션의 개체명 ID (개체명이 아닐 경우, -1을 부여함)</td>
            </tr>
            <tr bgcolor="#ffc107">
                <td></td>
                <td></td>
                <td></td>
                <td>sentence_id</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>상호참조 해결</td>
                <td>* 멘션의 문장 ID</td>
            </tr>
            <tr bgcolor="#ffc107">
                <td></td>
                <td></td>
                <td></td>
                <td>begin</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>상호참조 해결</td>
                <td>* 멘션의 문장 내 시작 위치. (UTF-8 문자 위치로 0부터 시작)</td>
            </tr>
            <tr bgcolor="#ffc107">
                <td></td>
                <td></td>
                <td></td>
                <td>end</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>상호참조 해결</td>
                <td>* 멘션의 문장 내 끝 위치 (UTF-8 문자 위치로 0부터 시작)</td>
            </tr>
            <tr bgcolor="#28a745">
                <td></td>
                <td>ZA</td>
                <td></td>
                <td></td>
                <td></td>
                <td>arr (obj)</td>
                <td>전체</td>
                <td>무형대용어복원</td>
                <td>* 무형 대용어 복원 정보</td>
            </tr>
            <tr bgcolor="#28a745">
                <td></td>
                <td></td>
                <td>predicate</td>
                <td></td>
                <td></td>
                <td>obj</td>
                <td>전체</td>
                <td>무형대용어복원</td>
                <td>* 서술어 정보</td>
            </tr>
            <tr bgcolor="#28a745">
                <td></td>
                <td></td>
                <td></td>
                <td>form</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>무형대용어복원</td>
                <td>* 서술어</td>
            </tr>
            <tr bgcolor="#28a745">
                <td></td>
                <td></td>
                <td></td>
                <td>sentence_id</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>무형대용어복원</td>
                <td>* 서술어의 문장 ID</td>
            </tr>
            <tr bgcolor="#28a745">
                <td></td>
                <td></td>
                <td></td>
                <td>begin</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>무형대용어복원</td>
                <td>* 서술어의 문장 내 시작 위치. (UTF-8 문자 위치로 0부터 시작)</td>
            </tr>
            <tr bgcolor="#28a745">
                <td></td>
                <td></td>
                <td></td>
                <td>end</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>무형대용어복원</td>
                <td>* 서술어의 문장 내 끝 위치 (UTF-8 문자 위치로 0부터 시작)</td>
            </tr>
            <tr bgcolor="#28a745">
                <td></td>
                <td></td>
                <td>antecedent</td>
                <td></td>
                <td></td>
                <td>(arr) obj</td>
                <td>전체</td>
                <td>무형대용어복원</td>
                <td>* 생략어 정보</td>
            </tr>
            <tr bgcolor="#28a745">
                <td></td>
                <td></td>
                <td></td>
                <td>form</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>무형대용어복원</td>
                <td>* 생략어. 문서 내 존재하지 않는 대상이면 null 문자(“”)로 기술</td>
            </tr>
            <tr bgcolor="#28a745">
                <td></td>
                <td></td>
                <td></td>
                <td>type</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>무형대용어복원</td>
                <td>* 생략어의 종류. “subject”, “object” 중 택 1</td>
            </tr>
            <tr bgcolor="#28a745">
                <td></td>
                <td></td>
                <td></td>
                <td>sentence_id</td>
                <td></td>
                <td>str</td>
                <td>전체</td>
                <td>무형대용어복원</td>
                <td>* 생략어가 있는 문장 ID. * “-1”이면 문서 내 존재하지 않는 알 수 없는 대상</td>
            </tr>
            <tr bgcolor="#28a745">
                <td></td>
                <td></td>
                <td></td>
                <td>begin</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>무형대용어복원</td>
                <td>* 생략어의 문장 내 시작 위치. (UTF-8 문자 위치로 0부터 시작) * -1이면 문서 내 존재하지 않는 알 수 없는 대상</td>
            </tr>
            <tr bgcolor="#28a745">
                <td></td>
                <td></td>
                <td></td>
                <td>end</td>
                <td></td>
                <td>num</td>
                <td>전체</td>
                <td>무형대용어복원</td>
                <td>* 생략어의 문장 내 끝 위치 (UTF-8 문자 위치로 0부터 시작) * -1이면 문서 내 존재하지 않는 알 수 없는 대상</td>
            </tr>

            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import axios from "axios";

    @Component
    export default class TableInfo extends Vue {

        public sampleFileDown(): void {
            axios({
                method: "get",
                url: "/corpus-sample.zip",
                responseType: "arraybuffer"
            }).then(response => {
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement("a");
                link.href = url;
                link.setAttribute("download", "corpus-sample.zip"); //or any other extension
                document.body.appendChild(link);
                link.click();
            }).catch(() => console.log("error occured"));
        }
    }
</script>
