<template>
<!--  <div id="app">-->
      <router-view class="full-height"></router-view>
<!--  </div>-->
</template>

<script lang="ts">
    import {Vue} from 'vue-property-decorator';
    export default class App extends Vue {}
</script>


<style>
    html, body {
        height: 100%;
    }
    .full-height {
        height: 100%;
    }
</style>
